@use '@fontsource/patrick-hand';
@use '@fontsource-variable/merriweather';

:root {
  --color-accent: #ffb703;
  --color-paper: #ece7e2;
  --color-ink: #222;
  --color-faded: color-mix(in srgb, var(--color-paper), black 10%);
  --color-editable: color-mix(
    in oklab,
    var(--color-paper),
    rgb(255, 224, 86) 30%
  );
  --gutter: 1em;
  --font-written: 'Patrick Hand', cursive;
  --font-base: 'Merriweather Variable', serif;
  --border: 0.2em solid var(--color-ink);
  --border-sm: 0.1em solid var(--color-ink);
  --shadow-distance: 0.5em;
  --shadow: drop-shadow(
    var(--shadow-distance) var(--shadow-distance) 0 var(--color-faded)
  );
  --paper: url('#pencil');

  // @media screen and (prefers-color-scheme: dark) {
  //   --color-paper: #181818;
  //   --color-ink: #ece7e2;
  //   --color-accent: #cf871a;
  // }

  @media print {
    --color-editable: transparent;
    --color-paper: #fff;
  }

  font-family: var(--font-base);
  background-color: var(--color-paper);
  color: var(--color-ink);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
}

a {
  color: currentColor;
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: transparent;
}

input,
textarea {
  border: none;
  font: inherit;
  padding: 0;
  background-color: var(--color-editable);
  font-family: var(--font-written);
  width: 100%;
  text-align: inherit;
  display: block;
  min-width: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.hide-print {
  @media print {
    display: none;
    visibility: hidden;
  }
}

.written {
  font-family: var(--font-written);
}
