@import '@fontsource/patrick-hand';
@import '@fontsource-variable/merriweather';

:root {
  --color-accent: #ffb703;
  --color-paper: #ece7e2;
  --color-ink: #222;
  --color-faded: color-mix(in srgb, var(--color-paper), black 10%);
  --color-editable: color-mix(
    in oklab,
    var(--color-paper),
    rgb(255, 224, 86) 30%
  );
  --gutter: 1em;
  --font-written: 'Patrick Hand', cursive;
  --font-base: 'Merriweather Variable', serif;
  --border: 0.2em solid var(--color-ink);
  --border-sm: 0.1em solid var(--color-ink);
  --shadow-distance: 0.5em;
  --shadow: drop-shadow(
    var(--shadow-distance) var(--shadow-distance) 0 var(--color-faded)
  );

  font-family: var(--font-base);
  background-color: var(--color-paper);
}

@media print {
  :root {
    --color-editable: transparent;
    --color-paper: #fff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  background: transparent;
}

input,
textarea {
  border: none;
  font: inherit;
  padding: 0;
  background-color: var(--color-editable);
  font-family: var(--font-written);
  width: 100%;
  text-align: inherit;
  display: block;
  min-width: none;
  flex-shrink: 1;
}
input {
  line-height: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}
