@use '@fontsource/patrick-hand';
@use '@fontsource-variable/merriweather';

:root {
  --color-black: #222;
  --color-white: #e6dcd2;
  --color-accent: #ffb703;
  --color-paper: var(--color-white);
  --color-ink: var(--color-black);
  --color-faded: color-mix(in srgb, var(--color-ink) 10%, var(--color-paper));
  --color-editable: color-mix(
    in oklab,
    var(--color-paper),
    rgb(255, 224, 86) 30%
  );
  --gutter: 1em;
  --font-written: 'Patrick Hand', cursive;
  --font-base: 'Merriweather Variable', serif;
  --border-size: 0.1rem;
  --border: var(--border-size) solid var(--color-ink);
  --border-sm: 0.1rem solid var(--color-ink);
  --shadow-distance: 0.5em;
  --shadow: drop-shadow(
    var(--shadow-distance) var(--shadow-distance) 0 var(--color-faded)
  );
  --paper: url('#pencil');

  @media screen and (prefers-color-scheme: dark) {
    --color-black: #111111;
    --color-white: #e6dcd2;
    --color-paper: var(--color-black);
    --color-ink: var(--color-white);
    --color-accent: #cf871a;
  }

  @media print {
    --color-editable: transparent;
    --color-paper: #fff;
    --color-ink: #000;
  }

  font-family: var(--font-base);
  background-color: var(--color-paper);
  color: var(--color-ink);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
}

a {
  color: currentColor;
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: transparent;
}

input,
textarea {
  border: none;
  font: inherit;
  padding: 0;
  background-color: var(--color-editable);
  font-family: var(--font-written);
  width: 100%;
  text-align: inherit;
  display: block;
  min-width: none;
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font: inherit;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.hide-print {
  @media print {
    display: none;
    visibility: hidden;
  }
}

.written {
  font-family: var(--font-written);
}
